{% extends 'member/member_base.html' %}

{% block content %}
<div class="row">
	<h2>Member Profile Information</h2>
	<p>Name: {{ member.first_name }} {{ member.last_name }}</p>
	{% if causes %}
		{% for cause in causes %}
			<p>{{ cause }}</p>
		{% endfor %}
	{% else %}
	<p>You have no causes associated with your account. Lets get you started!</p>
	<div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-2">
		<a class="btn btn-default btn-lg btn-block" href="#">Add Causes</a>
	</div>
	{% endif %}
</div>
{% endblock %}