{% extends 'politician/politician_base.html' %}

{% load staticfiles %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/cause_list.css' %}">
{% endblock %}

{% block content %}
	<div class="body">
		<section class="row title">
			<div class="col-xs-10 col-xs-offset-1 text-center">
				<h1>Event List</h1>
			</div>
		</section>
		<section class="row">
			{% for politician in politician_list %}
					<article class="col-sm-6 text-center">
						<h3><a href="{{ politician.get_absolute_url }}">
						<h3>{{ politician.name }}</h3>
						<hr>
						<br />
					</article>
			{% endfor %}
		</section>
	</div>
{% endblock %}